body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, rgb(23, 102, 23), rgb(59, 210, 59) );
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

h1, h2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

header {
    background-color: green;
    color: #fff;
    padding: 40px 0;
}

header h1, header h2 {
    text-align: center;
    margin: 0;
}

nav {
    background-color: rgb(14, 106, 14);
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: green;
}

#content {
    padding: 40px 0;
}

.aranhas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.aranhas img {
    height: auto;
    margin-bottom: 20px;
}

.tamanho{
    width: 70%;
}

.tamanho2{
    width: 70%;
}

.tamanho3{
    width: 70%;
}

.par{
    color: blue;
    font-size: 20pt;
    font-family: Verdana;
  }
  
.impar{
    color:  red;
    font-size: 16pt;
    font-family: Arial;
    text-shadow: rgb(9, 36, 9) 1px 2px 6px;
}